[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/eclectic"]
	path = themes/eclectic
	url = https://github.com/atishay/eclectic-hugo-theme
